html, body, main {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

/* Main block*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    /*Line below header*/
    border-bottom: 2px groove white;
    margin: 0px 30%;
}
/* Links */
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: goldenrod;
    text-decoration: underline;
}

/* Box */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*Size*/
    width: 35%;
    height: auto;
    /*border and margin*/
    border: 3px outset white;
    margin: 3rem 0;
}
.container p{
    max-width: 80%; 
}

.container h2{
    margin-top: 1rem;
    margin-bottom: 0px;
}
